.form-group{
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
#calculate,#save-info{
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
#next1,#save1{
    width: 30%;
}