@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@500&display=swap');

body{
    background-color: #DEDCE6
}

.card-panel small {
    display: inline-block;
}

#date{
    text-align: center;
}
.nav-wrapper{
    background-color: #1275E6;
    font-family: poppins;
}

nav{
    height: 100px;
}
nav .brand-logo{
    font-size: 4rem;
    position: relative;
    padding-left: 1.8rem;
    padding-top: 1rem;
}
@media(max-width: 900px){
    nav .brand-logo{
        font-size: 3rem;
        position: center;
        padding-left: 1rem;
        padding-top: 1rem;
}}
@media(min-width: 993px){
#menu-dropdown{
    display: none;
}
}

#home-image{
    width: 100%;
    height: 100%;
}

.dropdown-button:hover {
    background-color: #4DA9FF;
    box-shadow: 0 4px 8px 0 black;
}
.dropdown-button{
    background-color: #1275E6;
    }

    .dropdown-content li>a, .dropdown-content li>span{
        color: #039be5;
        background-color: #595959;
        box-shadow: 4px 4px 40px 12px  rgb(31, 31, 31);
    }
    .dropdown-content li>a:hover{
        background-color: #4DA9FF;
        color: black;
    }
    nav ul a:hover {
        background-color: #DEDCE6;
        box-shadow: 4px 4px 40px 12px  rgb(31, 31, 31);
        color: black;
    }
    nav ul a{
        margin-right: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 1rem;
    }
    /* #calculate,#save-info{
        text-align: center;
    } */
    #profile-main{
        text-align: center;
    }
    .form-control{
        initial-letter-align: center;
    }

    #muscleGroups{
        display: block;
    }
    /* #workoutBtns{
        background-color: #595959;
    } */
    .workoutBtns{
        background-color: #1275E6;
        color: white;
        font-size: 1rem;
        font-family: poppins;
        width: 33%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 33%;
        margin-right: 33%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        
    }
    .workoutBtns:hover{
        background-color: #DEDCE6;
        color: black;
    }
    @media(min-width: 600px){
        .workoutBtns{
            display: inline;
        }
    }

    @media(min-width: 900px){
        .muscleGroups{
            height: 100px;
            width: 100px;
        }
    }
    #upLowBod{
        background-color: #1275E6;
        box-shadow: 0 2px 2px 2px rgb(145, 145, 145);
    }
    #arms, #legs{
        background-color: #FFC800;
    }
    #run-calculation:active{
        box-shadow: 0 2px 2px 4px rgb(145, 145, 145);
        transform: translateY(4px);
    }
    #next:active{
        box-shadow: 0 2px 2px 4px rgb(145, 145, 145);
        transform: translateY(4px);
    }
    .saveWorkout{
        box-sizing: border-box;
        color: black;
        box-shadow: 0 2px 2px 4px rgb(145, 145, 145);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #FFC800;
    }
    #todayCard{
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        

    }
    .startBtn {
        position: absolute;
        box-shadow: 0 3px 3px 3px #FFC800;
        top: 80%;
        left: 50%;
        transform: translate(-60%, -60%);
        -ms-transform: translate(-60%, -60%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
      }
